{% extends 'codi/base.html' %}

{% load static %}

{% block style %}
.img_ootd {
width: 300px;
height: 300px;
padding: 10px;
}

{% comment %} 이미지카드 {% endcomment %}
.card{
display: inline-block;
}

{% comment %} 선택한 옷 이미지 크기 {% endcomment %}
.pickTop, .pickBottom, .pickOuter, .pickOnepiece {
width: 260px;
height: 260px;
margin-top: 10px;
}
.matchup, .select{
text-align:center;
margin: auto;
}
.matchup{
  cursor: pointer;
}
.row {
float:center;
}
.round1, .round2, .final, .top, .bottom, .outer, .onepiece, .pick3P, .pick2P{
display: none;
}
.ftco-section {
padding: 2em 0;
position: relative;
}
#select3P, #select2P {
border-bottom: solid !important;
font-size: xx-large !important;
cursor: pointer;
}
#vs {
color: red;
margin: 0 20px 0 20px;
font-size: x-large;
}
.heading-section .subheading {
color: lightskyblue;
font-size: 24px;
}
p.card-text.codipick{
font-size: x-large;
}
.card-body {
padding: 0 !important;
}
h2.mb-3 {
  margin-bottom: 0 !important;
}
.row.justify-content-center.mb-5 {
  margin-bottom: 0.5rem !important;
}
{% comment %} 중간 대문?? 위아래 폭 줄이기 {% endcomment %}
.hero-wrap.hero-wrap-2 .slider-text {
    height: 380px !important;
}
.hero-wrap.hero-wrap-2 {
    height: 400px !important;
    position: relative;
}
{% endblock style %}

{% block content %}

<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-3 bread">코디 월드컵</h1>
        <p class="breadcrumbs">
        <span class="mr-2"><a href="{% url 'codi:codi' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> 
        <span class="mr-2"><a href="{% url 'codi:codiWorldcup' %}">codicup <i class="ion-ios-arrow-forward"></i></a></span>
        <span><a href="{% url 'codi:codicupResult' %}">result <i class="ion-ios-arrow-forward"></i></a></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-light">
  <div class="container">

    <div class="select">
      <h1>원하는 스타일을 선택하세요</h1>
      <span id="select3P" class="3P">상의+하의+외투</span><span id="vs">VS</span><span id="select2P" class="2P">원피스+외투</span>
    </div>

    <div class="top">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">상의</span>
          <h2 class="mb-3">4강전(1/2)</h2>
        </div>
      </div>
      <div class="row">
        <div class="matchup round1">
          {% for  top in top1 %}
          <img src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd" data-id="{{top.id}}">
          {% endfor %}
        </div>
        <div class="matchup round2">
          {% for top in top2 %}
          <img src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd" data-id="{{top.id}}">
          {% endfor %}
        </div>
        <div class="matchup final">
          <img id="first" src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd"
            data-id="{{top.id}}">
          <img id="second" src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd"
            data-id="{{top.id}}">
        </div>
      </div>
    </div>

    <div class="bottom">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">하의</span>
          <h2 class="mb-3">4강전(1/2)</h2>
        </div>
      </div>
      <div class="row">
        <div class="matchup round1">
          {% for  top in bot1 %}
          <img src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd" data-id="{{top.id}}">
          {% endfor %}
        </div>
        <div class="matchup round2">
          {% for top in bot2 %}
          <img src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd" data-id="{{top.id}}">
          {% endfor %}
        </div>
        <div class="matchup final">
          <img id="first" src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd"
            data-id="{{top.id}}">
          <img id="second" src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd"
            data-id="{{top.id}}">
        </div>
      </div>
    </div>

    <div class="outer">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">외투</span>
          <h2 class="mb-3">4강전(1/2)</h2>
        </div>
      </div>
      <div class="row">
        <div class="matchup round1">
          {% for  top in out1 %}
          <img src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd" data-id="{{top.id}}">
          {% endfor %}
        </div>
        <div class="matchup round2">
          {% for top in out2 %}
          <img src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd" data-id="{{top.id}}">
          {% endfor %}
        </div>
        <div class="matchup final">
          <img id="first" src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd"
            data-id="{{top.id}}">
          <img id="second" src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd"
            data-id="{{top.id}}">
        </div>
      </div>
    </div>

    <div class="onepiece">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">원피스</span>
          <h2 class="mb-3">결승전</h2>
        </div>
      </div>
      <div class="row">
        <div class="matchup final">
          {% for top in ran_one %}
          <img src="{{top.img_url}}" class="versus mr-3 border border-dark rounded img_ootd" data-id="{{top.id}}">
          {% endfor %}
        </div>
      </div>
    </div>

    <h1 class="pb-4 mb-4 border-bottom"></h1>
    <div class="pick text-center">
      <h2>당신이 고른 오늘의 코디픽</h2>
      <div class="pick3P text-center">
        <div class="card" style="width: 18rem;">
          <img class="pickTop" src="{% static 'hanger.png' %}">
          <div class="card-body">
            <p class="card-text codipick">상의</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="pickBottom" src="{% static 'hanger.png' %}">
          <div class="card-body">
            <p class="card-text codipick">하의</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="pickOuter" src="{% static 'hanger.png' %}">
          <div class="card-body">
            <p class="card-text codipick">외투</p>
          </div>
        </div>
      </div>

      <div class="pick2P text-center">
        <div class="card" style="width: 18rem;">
          <img class="pickOnepiece" src="{% static 'hanger.png' %}">
          <div class="card-body">
            <p class="card-text codipick">원피스</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="pickOuter" src="{% static 'hanger.png' %}">
          <div class="card-body">
            <p class="card-text codipick">외투</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
{% endblock content %}

{% block script %}
<script>
  $(function () {
    $('.3P').on('click', function () {
      $('.top').show()
      $('.top .round1').show()
      $('.select').hide()
      $('.pick3P').show()
      $('.pick2P').hide()
    })
    $('.2P').on('click', function () {
      $('.onepiece').show()
      $('.onepiece .final').show()
      $('.select').hide()
      $('.pick2P').show()
      $('.pick3P').hide()
    })

    $('.top .round1 .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.top .round1').hide()
      $('.top .round2').show()
      $('.top .mb-3').text("4강전(2/2)")
      $('.top .final #first').attr('src', url)
      $('.top .final #first').data('id', id)
    })
    $('.top .round2 .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.top .round2').hide()
      $('.top .final').show()
      $('.top .mb-3').text("결승전")
      $('.top .final #second').attr('src', url)
      $('.top .final #second').data('id', id)
    })
    $('.top .final .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.top .final').hide()
      $('.top').hide()
      $('.bottom').show()
      $('.bottom .round1').show()
      $('.pick3P .pickTop').attr('src', url)
    })

    $('.bottom .round1 .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.bottom .round1').hide()
      $('.bottom .round2').show()
      $('.bottom .mb-3').text("4강전(2/2)")
      $('.bottom .final #first').attr('src', url)
      $('.bottom .final #first').data('id', id)
    })
    $('.bottom .round2 .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.bottom .round2').hide()
      $('.bottom .final').show()
      $('.bottom .mb-3').text("결승전")
      $('.bottom .final #second').attr('src', url)
      $('.bottom .final #second').data('id', id)
    })
    $('.bottom .final .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.bottom').hide()
      $('.bottom .final').hide()
      $('.outer').show()
      $('.outer .round1').show()
      $('.pick3P .pickBottom').attr('src', url)
    })

    $('.outer .round1 .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.outer .round1').hide()
      $('.outer .round2').show()
      $('.outer .mb-3').text("4강전(2/2)")
      $('.outer .final #first').attr('src', url)
      $('.outer .final #first').data('id', id)
    })
    $('.outer .round2 .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.outer .round2').hide()
      $('.outer .final').show()
      $('.outer .mb-3').text("결승전")
      $('.outer .final #second').attr('src', url)
      $('.outer .final #second').data('id', id)
    })
    $('.outer .final .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.outer .final').hide()
      $('.outer').hide()
      $('.pickOuter').attr('src', url)
    })

    $('.onepiece .final .versus').on('click', function () {
      var url = $(this).attr('src')
      var id = $(this).data('id')
      console.log(url)
      $('.onepiece').hide()
      $('.onepiece .final').hide()
      $('.outer').show()
      $('.outer .round1').show()
      $('.pick2P .pickOnepiece').attr('src', url)
    })
  })
</script>
{% endblock script %}