{% extends 'codi/base.html' %}

{% load static %}

{% block content %}

<div class="hero-wrap" style='background-image: url("{% static "images/bg_2.jpg" %}");' data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="overlay-2"></div>
	<div class="container">
	<div class="row no-gutters slider-text justify-content-center align-items-center">
		<div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
		<div class="text text-center w-100">
			<h1 class="mb-4">Find Properties <br>That Make You Money</h1>
			<p><a href="#" class="btn btn-primary py-3 px-4">Search Properties</a></p>
		</div>
		</div>
	</div>
	</div>
	<div class="mouse">
		<a href="#" class="mouse-icon">
			<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
		</a>
	</div>
</div>


<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
		<div class="col-md-12 heading-section text-center ftco-animate mb-5">
		<span class="subheading">Find Properties</span>
		<h2 class="mb-2">Find Properties In Your City</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="listing-wrap img rounded d-flex align-items-end" style='background-image: url("{% static "images/listing-1.jpg" %}");'>
				<div class="location">
					<span class="rounded">New York, USA</span>
				</div>
				<div class="text">
					<h3><a href="#">100 Property Listing</a></h3>
					<a href="#" class="btn-link">See All Listing <span class="ion-ios-arrow-round-forward"></span></a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="listing-wrap img rounded d-flex align-items-end" style='background-image: url("{% static "images/listing-2.jpg" %}");'>
				<div class="location">
					<span class="rounded">New York, USA</span>
				</div>
				<div class="text">
					<h3><a href="#">100 Property Listing</a></h3>
					<a href="#" class="btn-link">See All Listing <span class="ion-ios-arrow-round-forward"></span></a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="listing-wrap img rounded d-flex align-items-end" style='background-image: url("{% static "images/listing-3.jpg" %}");'>
				<div class="location">
					<span class="rounded">New York, USA</span>
				</div>
				<div class="text">
					<h3><a href="#">100 Property Listing</a></h3>
					<a href="#" class="btn-link">See All Listing <span class="ion-ios-arrow-round-forward"></span></a>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>



<section class="ftco-section ftco-no-pt">
	<div class="container">
	<div class="row justify-content-center mb-5">
		<div class="col-md-7 heading-section text-center ftco-animate">
		<span class="subheading">Blog</span>
		<h2>Recent Blog</h2>
		</div>
	</div>
	<div class="row d-flex">
		<div class="col-md-3 d-flex ftco-animate">
		<div class="blog-entry justify-content-end">
			<div class="text">
			<a href="blog-single.html" class="block-20 img" style='background-image: url("{% static "images/image_1.jpg" %}");'>
				</a>
			<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
			<div class="meta mb-3">
				<div><a href="#">October 17, 2019</a></div>
				<div><a href="#">Admin</a></div>
				<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
			</div>
			</div>
		</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
		<div class="blog-entry justify-content-end">
			<div class="text">
			<a href="blog-single.html" class="block-20 img" style='background-image: url("{% static "images/image_2.jpg" %}");'>
				</a>
			<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
			<div class="meta mb-3">
				<div><a href="#">October 17, 2019</a></div>
				<div><a href="#">Admin</a></div>
				<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
			</div>
			</div>
		</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
		<div class="blog-entry justify-content-end">
			<div class="text">
			<a href="blog-single.html" class="block-20 img" style='background-image: url("{% static "images/image_3.jpg" %}");'>
				</a>
			<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
			<div class="meta mb-3">
				<div><a href="#">October 17, 2019</a></div>
				<div><a href="#">Admin</a></div>
				<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
			</div>
			</div>
		</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
		<div class="blog-entry justify-content-end">
			<div class="text">
			<a href="blog-single.html" class="block-20 img" style='background-image: url("{% static "images/image_4.jpg" %}");'>
				</a>
			<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
			<div class="meta mb-3">
				<div><a href="#">October 17, 2019</a></div>
				<div><a href="#">Admin</a></div>
				<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
			</div>
			</div>
		</div>
		</div>
	</div>
	</div>
</section>	
<section class="ftco-section ftco-no-pt">
	<div class="container">
	<div class="row justify-content-center mb-5">
		<div class="col-md-7 heading-section text-center ftco-animate">
		<span class="subheading">Blog</span>
		<h2>Recent Blog</h2>
		</div>
	</div>
	<div class="row d-flex">
		<div class="col-md-3 d-flex ftco-animate">
		<div class="blog-entry justify-content-end">
			<div class="text">
			<a href="blog-single.html" class="block-20 img" style='background-image: url("{% static "images/image_1.jpg" %}");'>
				</a>
			<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
			<div class="meta mb-3">
				<div><a href="#">October 17, 2019</a></div>
				<div><a href="#">Admin</a></div>
				<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
			</div>
			</div>
		</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
		<div class="blog-entry justify-content-end">
			<div class="text">
			<a href="blog-single.html" class="block-20 img" style='background-image: url("{% static "images/image_2.jpg" %}");'>
				</a>
			<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
			<div class="meta mb-3">
				<div><a href="#">October 17, 2019</a></div>
				<div><a href="#">Admin</a></div>
				<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
			</div>
			</div>
		</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
		<div class="blog-entry justify-content-end">
			<div class="text">
			<a href="blog-single.html" class="block-20 img" style='background-image: url("{% static "images/image_3.jpg" %}");'>
				</a>
			<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
			<div class="meta mb-3">
				<div><a href="#">October 17, 2019</a></div>
				<div><a href="#">Admin</a></div>
				<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
			</div>
			</div>
		</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
		<div class="blog-entry justify-content-end">
			<div class="text">
			<a href="blog-single.html" class="block-20 img" style='background-image: url("{% static "images/image_4.jpg" %}");'>
				</a>
			<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
			<div class="meta mb-3">
				<div><a href="#">October 17, 2019</a></div>
				<div><a href="#">Admin</a></div>
				<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
			</div>
			</div>
		</div>
		</div>
	</div>
	</div>
</section>	

<section class="ftco-section ftco-agent">
	<div class="container">
		<div class="row justify-content-center pb-5">
		<div class="col-md-12 heading-section text-center ftco-animate">
		<span class="subheading">Agents</span>
		<h2 class="mb-4">Our Agents</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 ftco-animate">
			<div class="agent">
					<div class="img">
						<img src='{% static "images/team-1.jpg" %}' class="img-fluid" alt="Colorlib Template">
					</div>
					<div class="desc">
						<h3><a href="properties.html">Ben Ford</a></h3>
							<p class="h-info"><span class="ion-ios-filing icon"></span> <span class="details">43 Properties</span></p>
					</div>
				</div>
		</div>
		<div class="col-md-3 ftco-animate">
			<div class="agent">
					<div class="img">
						<img src='{% static "images/team-2.jpg" %}' class="img-fluid" alt="Colorlib Template">
					</div>
					<div class="desc">
						<h3><a href="properties.html">John Cooper</a></h3>
							<p class="h-info"><span class="ion-ios-filing icon"></span> <span class="details">28 Properties</span></p>
					</div>
				</div>
		</div>
		<div class="col-md-3 ftco-animate">
			<div class="agent">
					<div class="img">
						<img src='{% static "images/team-3.jpg" %}'class="img-fluid" alt="Colorlib Template">
					</div>
					<div class="desc">
						<h3><a href="properties.html">Janice Clinton</a></h3>
							<p class="h-info"><span class="ion-ios-filing icon"></span> <span class="details">30 Properties</span></p>
					</div>
				</div>
		</div>
		<div class="col-md-3 ftco-animate">
			<div class="agent">
					<div class="img">
						<img src='{% static "images/team-4.jpg" %}' class="img-fluid" alt="Colorlib Template">
					</div>
					<div class="desc">
						<h3><a href="properties.html">Eunice Henceford</a></h3>
							<p class="h-info"><span class="ion-ios-filing icon"></span> <span class="details">25 Properties</span></p>
					</div>
				</div>
		</div>
	</div>
	</div>
</section>

{% endblock content %}

{% block script %}
{% endblock script %}  
